.auth-card-logo {
   width: 280px
}

.bg-primary {
   background-color: #f57c00!important
}

.btn-primary {
   border-color: #f57c00!important;
   background-color: #f57c00!important;
   transition: all .15s ease!important
}

.btn-primary:active {
   color: #fff!important;
   border-color: #d36308!important;
   background-color: #d36308!important
}

a {
   color: #f47f1f!important
}

a:hover {
   color: #d36308!important
}

.hidden {
   display: none;
}

.visible {
   display: block;
}

.form-control:focus, .select2-search__field:focus, .focused .input-group-text,
.focused .form-control, #datatables_buttons_info,
.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple {
   border-color: #f57c00 !important;
}

.select2-selection__choice, .select2-selection__choice__remove {
   background: #f57c00 !important;
   color: white !important;
}