.auth-card-logo {
    width: 280px
}

.bg-primary {
    background-color: #536dfe !important
}

.btn-primary {
    border-color: #536dfe !important;
    background-color: #536dfe !important;
    transition: all .15s ease !important
}

.btn-primary:active {
    color: #fff !important;
    border-color: #536dfe !important;
    background-color: #536dfe !important
}

a, .text-primary {
    color: #536dfe !important
}

a:hover {
    color: #536dfe !important
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.form-control:focus, .select2-search__field:focus, .focused .input-group-text,
.focused .form-control, #datatables_buttons_info,
.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #536dfe !important;
}

.select2-selection__choice, .select2-selection__choice__remove {
    background: #536dfe !important;
    color: white !important;
}