.bg-primary {
    background-color: #f57c00 !important;
}

.btn-primary {
    border-color: #f57c00 !important;
    background-color: #f57c00 !important;
    transition: all .15s ease !important;
}

.btn-primary:active {
    color: #fff !important;
    border-color: #d36308 !important;
    background-color: #d36308 !important;
}

.btn-neutral {
    color: #f57c00 !important;
    transition: all .15s ease !important;
}

.btn-neutral:hover {
    color: #000 !important;
    transition: all .15s ease !important;
}

.text-primary, b.nav-link-text, a {
    color: #f47f1f !important;
}

a:hover {
    color: #d36308 !important;
}

.navbar-brand-img {
    max-height: 2.4rem !important;
}

.nav-link, a.btn {
    color: #fff !important;
}

.nav-link:hover {
    color: lightgrey !important;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px !important;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.page-item.active .page-link {
    color: #fff !important;
    border-color: #f57c00 !important;
    background-color: #f57c00 !important;
}

.hidden {
    display: none;
}

.select2-selection__placeholder, .select2-selection__rendered {
    color: #8898a9 !important;
    font-family: Open Sans, sans-serif;
    font-size: 0.9rem;
}

.select2-selection__placeholder {
    color: #adb5bd !important;
}

.datatable-qr-code {
    width: 35px;
    height: 35px;
    transition: 0.1s;
}

.datatable-qr-code:hover {
    cursor: pointer;
    opacity: 0.7;
}

.img-qr-code-modal {
    width: 200px;
    height: 200px;
}

.has-danger .select2-container--default {
    border: 1px solid red !important;
    border-radius: 0.25rem !important;
}

a[disabled] {
    pointer-events: none;
    cursor: default;
    color: #212529;
    border-color: #fff;
    background-color: #fff;
    opacity: .65;
    box-shadow: none;
}