.bg-primary {
    background-color: #536dfe !important
}

.btn-primary, .page-item.active .page-link {
    border-color: #536dfe !important;
    background-color: #536dfe !important
}

.btn-primary {
    transition: all .15s ease !important
}

.btn-primary:active {
    color: #fff !important;
    border-color: #455fe0 !important;
    background-color: #455fe0 !important
}

.btn-neutral, .btn-neutral:hover {
    color: #536dfe !important;
    transition: all .15s ease !important
}

.btn-neutral:hover {
    color: #000 !important
}

.nav-link, a.btn-primary {
    color: #fff !important
}

.nav-link:hover {
    color: #d3d3d3 !important
}

.text-primary, a, a.btn-neutral, b.nav-link-text {
    color: #536dfe !important
}

a:hover {
    color: #455fe0 !important
}

a.btn:hover {
    color: #fff !important;
}

.navbar-brand-img {
    max-height: 2.4rem !important
}

.material-icons {
    font-family: 'Material Icons', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px !important;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga'
}

.page-item.active .page-link {
    color: #fff !important
}

.hidden {
    display: none
}

.select2-selection__placeholder, .select2-selection__rendered {
    font-family: Open Sans, sans-serif;
    font-size: .9rem
}

.select2-selection__rendered {
    color: #8898a9 !important
}

.select2-selection__placeholder {
    color: #adb5bd !important
}

.datatable-qr-code {
    width: 35px;
    height: 35px;
    transition: .1s
}

.datatable-qr-code:hover {
    cursor: pointer;
    opacity: .7
}

.img-qr-code-modal {
    width: 200px;
    height: 200px
}

.has-danger .select2-container--default {
    border: 1px solid red !important;
    border-radius: .25rem !important
}

a[disabled] {
    pointer-events: none;
    cursor: default;
    color: #212529;
    border-color: #fff;
    background-color: #fff;
    opacity: .65;
    box-shadow: none
}

.form-control:focus, .select2-search__field:focus, .focused .input-group-text,
.focused .form-control, #datatables_buttons_info,
.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #536dfe !important;
}

.select2-selection__choice, .select2-selection__choice__remove {
    background: #536dfe !important;
    color: white !important;
}